body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 30px;
  font-weight: 400px;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: white;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.header {
  height: fit-content;
  font-size: 20px;
  width: 100%;
  height: 171px;
  background-color: black;
  text-decoration: none;
}

.header_high {
  display: flex;
  transition: transform 0.1s ease;
}

.header_down {
  position:absolute;
  z-index: 1000;
  width: 100%;
  height: 85px;

  background-color: black;
  text-decoration: none;
  transition: transform 0.1s ease;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.nav_container {
  display: flex;
}

.nav_panel {
  margin: 0;
}

.nav_item_list {
  padding-left: inherit;
  margin-left: 42px;
  margin-top: 31px;
  list-style: none;
  display: flex;
}

.logo_container {
  margin-left: 230px;
}

.nav_panel_item {
  padding-left: 26px;
}

.login_container {
  display: flex;
}

.entry_container {
  font-size: 24px;
  margin-top: 27px;
  margin-left: 122px;
}

.logo_container {
  margin-top: 24px;
  font-size: 32px;
  font-style: italic;
  height: fit-content;
}

.person_logo_container {
  margin: 11px;
  margin-bottom: 0px;
}

.number_container {
  margin-top: 32px;
  font-size: 24px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: white;
  margin-top: 6px;
  opacity: 0.7;
}

.service_item_list {
  display: flex;
  margin-left: 230px;
  padding-top: 31px;
}

.service_item {
  padding-left: 32px;
}


.first_page {
  height: 900px;
  width: 100%;
  background: linear-gradient(287.3deg, rgba(194, 129, 255, 50%) 2.34%, #FFFFFF 88.13%);
}

.f_page_heading {
  color: rgba(114, 82, 170, 1);
  font-size: 64px;
  font-weight: 400;
}

.title_container {
  padding-left: 230px;
  padding-top: 75px;
}

.button_container {
  width: 394px;
  height: 88px;
  border-radius: 29px;
  background-color: rgba(59, 46, 87, 1);
  margin-left: 230px;
  margin-top: 169px;
}

.button {
  padding-left: 53px;
  padding-top: 29px;
  font-size: 24px;
}

.second_page {
  height: 3642px;
  width: 100%;
  background: linear-gradient(149.4deg, #FFFFFF -13.65%, rgba(254, 253, 255, 0.983636) 28.86%, rgba(194, 129, 255, 70%) 100.25%);
}

.second_page_title {
  color: black;
  padding-top: 134px;
  padding-left: 577px;
  font-size: 64px;
}

.benefits_list {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  flex: 1;
  margin-left: 230px;
  margin-right: 211px;
  margin-top: 142px;
}
.benefit_item_container {
  border-radius: 40px;
  width: 280px;
  height: 280px;
  color: black;
  background: linear-gradient(94.74deg, rgba(255, 255, 255, 0.4) -55.31%, rgba(194, 129, 255, 0.4) 99.19%);
}

.benefit_items_center_first {
  margin-left: 105px;
  margin-right: 153px;
}

.benefit_items_center_second {
  margin-right: 101px;
}

.benefit_items_center_third {
  margin-left: 105px;
  margin-right: 153px;
}

.benefit_items_center_fourth {
  margin-right: 101px;
}

.benefits_items_first_row{
  display: inherit;
}

.benefits_items_second_row {
  display: inherit;
  padding-top: 150px;
}

.benefit_item_icon {
  padding-left: 20px;
  padding-top: 16px;
}

.benefit_item_text {
  padding-left: 23px;
  padding-top: 13px;
  font-size: 30px;
  font-weight: 400px;
}

.second_page_second_title_container {
  margin-top: 106px;
  margin-left: 560px;
  font-size: 48px;
  color: black;
}

.first_slider_item_container {
  width: 1610px;
  display: flex;
  margin-top: 10%;
  margin-left:10%;
}
.slider {
  width: 100%;
  overflow: hidden;
}
.slides{
  display: flex;
  transition: transform 0.5s ease-in-out;;
}

.slide {
  margin-right:150px;
  min-width: 550px; 
  height: 350px;
  background-color: white;
  border-radius: 20px;
  border: solid;
  border-color: #C281FF;
  border-width: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #333;
}


button.prev, button.next {
  
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}
button.prev{
  position: relative;
  right: 20px;
}
button.next{
  position: relative;
  left: 20px;
}