body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 30px;
  font-weight: 400px;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: white;
}

h1 {
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.header {
  height: fit-content;
  font-size: 20px;
  width: 1920px;
  height: 171px;
  background-color: black;
  text-decoration: none;
}

.header_high {
  display: flex;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.nav_container {
  display: flex;
}

.nav_panel {
  margin: 0;
}

.nav_item_list {
  padding-left: inherit;
  margin-left: 42px;
  margin-top: 31px;
  list-style: none;
  display: flex;
}

.logo_container {
  margin-left: 230px;
}

.nav_panel_item {
  padding-left: 26px;
}

.login_container {
  display: flex;
}

.entry_container {
  font-size: 24px;
  margin-top: 27px;
  margin-left: 122px;
}

.logo_container {
  margin-top: 24px;
  font-size: 32px;
  font-style: italic;
  height: fit-content;
}

.person_logo_container {
  margin: 11px;
  margin-bottom: 0px;
}

.number_container {
  margin-top: 32px;
  font-size: 24px;
}

.line {
  width: 1920px;
  height: 1px;
  background-color: white;
  margin-top: 6px;
  opacity: 0.7;
}

.service_item_list {
  display: flex;
  margin-left: 230px;
  padding-top: 31px;
}

.service_item {
  padding-left: 32px;
}

.first_page {
  height: 900px;
  width: 1920px;
  background-image: url("/work/static/images/Rectangle\ 84.png");
}

.f_page_heading {
  color: rgba(114, 82, 170, 1);
  font-size: 64px;
  font-weight: 400;
}

.title_container {
  padding-left: 230px;
  padding-top: 75px;
}

.button_container {
  width: 394px;
  height: 88px;
  border-radius: 29px;
  background-color: rgba(59, 46, 87, 1);
  margin-left: 230px;
  margin-top: 169px;
}

.button {
  padding-left: 53px;
  padding-top: 29px;
  font-size: 24px;
}

.second_page {
  height: 3924px;
  width: 1920px;
  background-image: url(/work/static/images/Rectangle\ 108.png);
}

.second_page_title {
  color: black;
  padding-top: 134px;
  padding-left: 577px;
  font-size: 64px;
}

.benefit_item_container {
  border-radius: 40px;
  background-image: url(/work/static/images/Rectangle\ 110.png);
  display: flex;
  color: black;
}
