* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-image: url("../../images/registration/Rectangle 61.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  max-height: 1080px;
}

.logo_container {
  margin-left: 825px;
  margin-top: 85px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;

  color: #000000;
}

.form_container {
  margin-top: 74px;
  margin-left: 758px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

.form_input_name {
  padding-bottom: 11px;
  padding-top: 11px;
  padding-left: 18px;
}

.input_text_folder {
  width: 440px;
  height: 60px;

  padding-left: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  background: #fdfdfd;
  border: 1px solid #000000;
  border-radius: 25px;
  box-sizing: border-box;
}

.availible_account {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 50px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  color: rgba(0, 0, 0, 0.6);
}

.registration_submit {
  /* Rectangle 67 */
  width: 440px;
  height: 60px;

  color: white;
  /* Зарегистрироваться */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  background: #3b2e57;
  border-radius: 25px;
  border-style: none;
  box-sizing: border-box;
}

.registration_submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.personal_data_agreement {
  /* Нажимая кнопку, вы принимаете условия пользовательского соглашения, лицензионного договора и даёте согласие на обработку персональных данных */

  width: 379px;
  height: 41px;
  padding-left: 30px;
  padding-top: 25px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;

  color: rgba(0, 0, 0, 0.5);
}
