html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

ul {
  list-style: none;
}

.header_cont {
  height: 173px;
}

.header_container {
  display: flex;
  flex-direction: column;
  background-color: black;

  position: relative;
  height: auto;
}

.header__inner-high {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  height: 86px;
  background-color: black;
}

.header_item_list {
  display: flex;
  flex-shrink: 1;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 20px;
  color: white;
}

.header_list_item-logo {
  font-style: italic;
  padding-right: 26px;
  font-size: 32px;
}

.header_list_item {
  padding-right: 26px;
}

.entry_container {
  display: flex;
  color: white;
  font-size: 20px;
  align-items: center;
}

.entry_header-person {
  padding-left: 11px;
  padding-right: 11px;
}
.menu_button_container {
  display: none;
  justify-content: flex-end;
  width: 100%;
}

button.right_menu_button {
  margin-right: 11%;
  display: none;
  height: 86px;
  width: 86px;

  border: none;
  outline: none;
  background-color: transparent;
}

.icon_menu {
  height: 86px;
  width: 86px;
  background-image: url(images/menu-icon-PNG-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#inMenuButton {
  margin-left: 17px;
}

.menu_container {
  height: 100px;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
}
.menu {
  height: 101vh;
  width: 0;
  background-color: black;
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content:center;
  padding: 0;
  margin: 0;
  position: fixed;
  font-size: 20px;
  color: white;
  width: 0;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
  flex-direction: column
}
.in_menu_entry_container{
  position: absolute;
  top: 30px;
}
.entry_pic_menu{
  margin-top: 10px;
}
.menu.show {
  width: 70%; 
}
.hide_menu{
  border: none;
  outline: none;
  background-color: transparent;
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  width: 100%;  
  display: none;
  z-index: 10;
}

.hide_menu.show{
  display: block;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 11;
}

.menu ul li {
  border-bottom: 1px solid #444;
}

.menu ul li:last-child {
  border-bottom: none;
}

.menu ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.header_separate_line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: white;
}

.header__inner-down {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  z-index: 1000;
  height: 86px;
  width: 100%;
  background-color: black;
}

.service_container {
  margin-left: 11%;
  display: flex;
  flex-direction: row;
}

.service_item {
  padding-right: 36px;
  font-size: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: white;
}

.main_page {
  display: flex;
  flex-direction: column;
  background-image: url("images/Group\ 10\ .png");
  min-height: 5939px;
  background-size: cover;
  background-position: center center;
}

.first_page {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.first_page_title {
  padding-left: min(10%, 230px);
  padding-top: 75px;
  display: flex;
  text-align: start;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;

  color: #7252aa;
}

.first_page_button_container {
  display: flex;
  padding-left: min(10%, 230px);
  padding-top: 169px;
}

.first_page_button > a {
  display: flex;
  text-decoration: none;
}
.first_page_button {
  border-radius: 29px;
  border-style: none;
  min-height: 88px;
  min-width: 394px;
  background-color: #3b2e57;
  color: white;
  font-size: 24px;
}

.second_page {
  display: flex;
  flex-direction: column;
  margin-top: 440px;
  justify-content: center;
  align-items: center;
}

.second_page_title {
  font-size: 64px;
}

.benefits_container {
  margin-top: 142px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width:70%;
}

.benefit_item_container {
  display: flex;
  flex-direction: column;
  background-image: url("images/Rectangle\ 109.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 240px;
  width: 240px;
  margin-bottom: 80px;
  margin-right: 40px;
}

.benefit_item_icon {
  padding-top: 16px;
  padding-left: 16px;
  max-width: 40px;
  max-height: 40px;
}

.benefit_item_text {
  height: 80%;
  width: 80%;
  font-size: 30px;
  align-self: center;
  /* Отслеживание эффективности работы сотрудников */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  color: #000000;
}





























.footer_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 470px;
  background-color: #E3E3E3;
}

.footer__info {
  height: 220px;
  width:230px;
}

.footer__info_low_res {
  display: none;
}

.footer__info_separate_line {
  opacity: 1;
  height: 350px;
  width: 1px;
  background-color: #000000;
}



@media (max-width: 1620px) {
  .benefits_container{
    display: none;
  }
  .adaptive_slider-1 {
    display: block;
  }
}



@media (max-width: 1300px) {
  .header_list_item {
    display: none;
  }
  .first_page_title {
    font-size: 44px;
    line-height: 60px;
  }
  .header__inner-high {
    justify-content: flex-start;
    margin-left: 11%;
  }
}

@media (max-width: 525px) {
  .menu_button_container {
    display: flex;
  }
  .header__inner-down {
    display: none;
  }
  .header_cont {
    height: 86px;
  }
  .header_separate_line {
    display: none;
  }
  button.right_menu_button {
    display: flex;
  }
  .entry_header-person {
    display: none;
  }
  .number_container {
    display: none;
  }
  .entry_button {
    font-size: 30px;
    display: none;
  }
  .first_page_title {
    font-size: 34px;
    line-height: 40px;
  }
  .service_container {
    flex-wrap: wrap;
  }
  .first_page_button_container {
    display: flex;
    padding-left: 5vw;
    padding-top: 20vw;
  }
  .first_page_button {
    border-radius: 29px;
    border-style: none;
    min-height: 88px;
    min-width: 90vw;
    background-color: #3b2e57;
    color: white;
    font-size: 19px;
  }
  .second_page {
    display: flex;
    margin-top: 440px;
    justify-content: center;
  }

  .second_page_title {
    font-size: 40px;
  }
  
  .footer__info{
    display: none;
  }

  .footer__info_separate_line{
    display: none;
  }

  .footer__info_low_res {
    display: flex;
    height: auto;
    width: auto;
    color: #000000;
  }
}
