html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

ul {
  list-style: none;
}

.header_container {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: auto;
  position: relative;
}

.header__inner-high {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  height: 86px;
}

.header_item_list {
  display: flex;
  flex-shrink: 1;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 20px;
  color: white;
}

.header_list_item-logo {
  font-style: italic;
  padding-right: 26px;
  font-size: 32px;
}

.header_list_item {
  padding-right: 26px;
}

.entry_container {
  display: flex;
  color: white;
  font-size: 20px;
}

.entry_header-person {
  padding-left: 11px;
  padding-right: 11px;
}

.header_separate_line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: white;
}

.header__inner-down {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  margin-left: 11%;
  height: 86px;
}

.service_container {
  display: flex;
  flex-direction: row;
}

.service_item {
  padding-right: 36px;
  font-size: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: white;
}

.main_page {
  display: flex;
  flex-direction: column;
  background-image: url("images/Group\ 10\ .png");
  min-height: 5939px;
  background-size: cover;
  background-position: center center;
}

.first_page {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.first_page_title {
  padding-left: min(10%, 230px);
  padding-top: 75px;
  display: flex;
  text-align: start;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;

  color: #7252aa;
}

.first_page_button_container {
  display: flex;
  padding-left: min(10%, 230px);
  padding-top: 169px;
}

.first_page_button>a {
  display: flex;
  text-decoration: none;
}
.first_page_button {
  border-radius: 29px;
  border-style:  none;
  min-height: 88px;
  min-width: 394px;
  background-color: #3B2E57;
  color:white;
  font-size: 24px;
}

.second_page {
  display:flex;
  flex-direction: column;
  margin-top: 440px;
  justify-content: center;
}

.second_page_title {
  font-size: 64px;
}

.benefits_container {
  margin-top: 142px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.benefit_item_container{
  display: flex;
  flex-direction: column;
  background-image: url('images/Rectangle\ 109.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 280px;
  min-width: 280px;
  margin-bottom: 149px;
  margin-right: 40px;
}


.benefit_item_icon {
  max-width: 65px;
  max-height: 65px;
}








































@media (max-width: 1300px) {
  .header_list_item {
    display: none;
  }
  .first_page_title {
    font-size: 44px;
    line-height: 60px;
  }
}

@media (max-width: 525px) {
  .entry_header-person {
    display: none;
  }
  .number_container {
    display: none;
  }
  .entry_button {
    font-size: 30px;
  }
  .first_page_title {
    font-size: 34px;
    line-height: 40px;
  }
  .service_container {
    flex-wrap: wrap;
  }
  .first_page_button_container {
    display: flex;
    padding-left: 5vw;
    padding-top: 20vw;
  }
  .first_page_button {
    border-radius: 29px;
    border-style:  none;
    min-height: 88px;
    min-width: 90vw;
    background-color: #3B2E57;
    color:white;
    font-size: 19px;
  }
  .second_page {
    display:flex;
    margin-top: 440px;
    justify-content: center;
  }
  
  .second_page_title {
    font-size: 40px;
  }

}
